<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="store.mapper.BucketlistMapper">
	<resultMap type="Bucketlist" id="bucketlistMap">
		<id property="bucketlistId" column="bucketId"/>
		<result property="title" column="bucketName"/>
		<result property="goal" column="goalDay"/>
		<result property="star" column="starGrade"/>
		<result property="memo" column="memo"/>
		<result property="sos" column="sos"/>
		<result property="lock" column="locker" typeHandler="BooleanToYnHandler"/>
		<result property="userId" column="userId"/>
		<collection property="connChains" column="bucketId" ofType="String" select="store.mapper.BucketlistMapper.selectConnChainsByBucketlistId" javaType="ArrayList" jdbcType="NUMERIC"/>
	</resultMap>

	<sql id="selectBucketlist">
		<!-- SELECT bucketId, bucketName, bucketId, goalDay, starGrade, memo, sos, locker, userId
		FROM bucketlist_tb -->
		SELECT bucketId, bucketName, bucketId, goalDay, starGrade, memo, sos, locker, userId
		FROM bucketlist_tb
	</sql>

	<!-- <insert id="insertBucketlist" parameterType="Bucketlist">
		INSERT INTO bucketlist_tb(bucketId, bucketName, goalDay, starGrade, memo, sos, locker, userId)
		VALUES (bucketlist_seq.nextVal, #{title}, #{goal}, #{star}, #{memo}, #{sos}, 'N', #{userId})
	</insert>
	<insert id="insertBucketlist" parameterType="Map">
		INSERT INTO Bucketconn_tb(bucektId, connChain)
		VALUES (#{bucektId }, #{connChain})
	</insert> -->

	<update id="updateBucketlist" parameterType="Bucketlist">
		UPDATE bucketlist_tb
		SET bucketName = #{title}, goalDay = #{goal}, starGrade = #{star}, memo = #{memo}, sos = #{sos}, locker = #{lock,typeHandler=BooleanToYnHandler}, userId = #{userId} 
		WHERE bucketId=#{bucketlistId}
	</update>

	<delete id="deleteBucketlist" parameterType="int">
		DELETE bucketlist_tb 
		WHERE bucketId=#{bucketlistId}
	</delete>
	
	<select id="selectAll" resultMap="bucketlistMap">
		<include refid="selectBucketlist" />
		WHERE userId=#{userId}
	</select>

	<select id="selectBucketlistByBucketlistId" parameterType="int" resultMap="bucketlistMap">
		<include refid="selectBucketlist" />
		WHERE bucketId=#{bucketlistId}
	</select>

	<select id="selectBucketlistsByConnChains" resultMap="bucketlistMap">
		<include refid="selectBucketlist" />
		WHERE bucketId IN (SELECT bucketId
							FROM bucketConn_tb
							WHERE connChain IN
								<foreach item="connChain" separator="," collection="list" open="(" close=")">
									#{connChain}
								</foreach>)
	</select>
	
	<select id="selectConnChainsByBucketlistId" parameterType="int" resultType="String">
		SELECT connChain
		FROM bucketConn_tb
		WHERE bucketId=#{bucketlistId}
	</select>
</mapper>