<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="store.mapper.ConnChainMapper">

	<insert id="insertConnChain">
		INSERT INTO connChain_tb
		VALUES(#{connChain})
	</insert>

	<select id="selectConnChains" resultType="String">
		SELECT connChain
		FROM connChain_tb
	</select>

</mapper>
